@tailwind base;
@tailwind components;
@tailwind utilities;

.application-picture {
    object-fit: cover;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: relative; /* Declared position allows for location changes */
    top: -70px; /* Moves the image 70px closer to the top of the page */
    flex: none;
}

.left-panel-text-container {
    position: relative;
    top: -70px; /* Moves the flex-item content 70px closer to the top of the page */
}

/* .tippy-box[data-theme="default"] {
    background-color: var(--vscode-menu-background);
    color: var(--vscode-badge-foreground);
    background-color: orange;
    color: green;
    border: 1px solid var(--vscode-editorWidget-border);
    border-radius: 0.15rem;
    padding: 0.5rem;
    word-wrap: break-word;
} */

/* 
tippy(.tooltipStyle, {
    content: "I'm a Tippy tooltip!",
    placement: 'top',
}); */

/* tippy(button, {
    // default
    placement: 'top',
  }); */
