@tailwind base;
@tailwind components;
@tailwind utilities;

/* .museomoderno-font-body-text {
    font-family: "MuseoModerno", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.museomoderno-font-subheading {
    font-family: "MuseoModerno", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.museomoderno-font-heading {
    font-family: "MuseoModerno", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}*/

.profile-picture {
    object-fit: cover;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    position: relative; /* Declared position allows for location changes */
    top: -70px; /* Moves the image 70px closer to the top of the page */
    flex: none;
}

.left-panel-text-container {
    position: relative;
    top: -70px; /* Moves the flex-item content 70px closer to the top of the page */
}

/* .section-icons {
    color: white;
    background: #34404a;
    margin-top: 5px;
    display: inline-block;
} */
